/* global styles  */

*,
html,
body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  font-family: Arial, Helvetica, sans-serif;
}
header {
  display: grid;
  place-items: center;
  height: 100px;
  color: white;
  background-color: red;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.activities a {
  line-height: 1.5;
}

ul {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul li {
  display: inline-block;
  margin: 0 1rem;
}
nav a {
  color: rgba(114, 107, 47, 0.801);
  text-decoration: none;
}

/* class page styles */

section {
  /* margin: 2rem; */
  padding: 1rem;
  /* border-radius: 10px; */
  border-bottom: 3px solid red;
}
section ol {
  display: block;
  margin-left: 1rem;
  line-height: 1.5;
}

.lessonHeader {
  /* text-align: center; */
  margin-top: 1rem;
}
.lessonHeader h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.summary {
  margin: 2rem 0;
}
.summary h3 {
  margin-bottom: 1rem;
}

.k-and-u h3 {
  margin-bottom: 1rem;
}
.k-and-u {
  margin-bottom: 1rem;
}
.k-and-u li {
  margin-bottom: 0.5rem;
}
.k-and-u-answer {
  color: red;
  margin-bottom: 0.5rem;
}
/* multiple choice styles */

.multchoice {
  margin: 1.5rem 0;
}
.multchoice h3 {
  margin-bottom: 1rem;
}
.mcItem {
  margin-bottom: 1rem;
}
.mcItem ol {
  margin-left: 1.3rem;
}

.btn-ku-answers,
.multchoice ol {
  display: none;
}
.multchoice.visible ol {
  display: block;
}

/* show hide buttons */
.btn-mc-questions,
.btn-mc-answers,
.btn-ku-answers {
  display: block;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 1rem;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* k-and u answers */
.k-and-u-answers ol {
  display: none;
}

.k-and-u-answers.visible ol {
  display: block;
}

/* multiple choice answers */
.answers {
  display: none;
}

.answers.visible {
  display: block;
}
